/* Name: Kaylin Ridge
CS Username: kridge
Email: kaylin_ridge@student.uml.edu
Date of Creation: 3 December 2020
Date of Upload: 16 December 2020 (USING ONE DAY EXTENSION TOKEN)
GUI Programming I Autumn 2020 (91.61)
Description: The main purpose of this assignment was to get
more practice with javascript.

The following features have been implemented:
// [X] Have main set of scrabble tiles using given
// json file. Randomly select 7 tiles for a hand. (4)
// [X] Make letter tiles drag-and-droppable
// onto Scrabble squares (4)
// [X] Program can tell which letter tile is placed
// on which square (4)
// [X] At least two bonus squares (4)
// [X] Score calculation, including bonus (4)
// [X] Player can play as many words as they want
// until they hit the reset button or quit (3)
// [X] Board clears after each round (3)
// [X] Program gives player appropriate number of
// tiles to make hand have seven tiles again (3)
// [X] Score kept cumulatively until reset (3)
// [X] Tiles can only be dragged from rack to
// board - dragging elsewhere will return to rack (2)
// [X] Tile cannot be moved once placed on board (2)
// [X] Every letter after first must be placed directly
// adjacent to another letter, otherwise will return
// to rack (2)
// [X] Can always restart game (2)

Features not implemented:
Dictionary check (exta credit)
Full board (extra credit)

Additional feature(s):
Game displays user's current word while they play

/* References used:
To understand arrays in JS: https://www.w3schools.com/js/js_arrays.asp
To understand random in JS: https://www.w3schools.com/jsref/jsref_random.asp
To understand drag & drop with JS: https://www.digitalocean.com/community/tutorials/js-drag-and-drop-vanilla-js
To understand for each in JS: https://www.w3schools.com/jsref/jsref_forEach.asp
More drag and drop: https://www.youtube.com/watch?v=C22hQKE_32c
Getting element by id: https://www.w3schools.com/jsref/met_document_getelementbyid.asp
Inner HTML property: https://www.w3schools.com/jsref/prop_html_innerhtml.asp
More info on Drag and Drop: https://www.elated.com/res/File/articles/development/javascript/jquery/drag-and-drop-with-jquery-your-essential-guide/card-game.html
*/

body {
    background: linear-gradient(#666666, #009999);
    color: #009999;
}

.container {
    padding-bottom: 5%;
    min-width: 1650px ;
    background-color: #343a40;
}


/* Referenced:
https://www.youtube.com/watch?v=C22hQKE_32c */

/* Board Tiles: */

/* NO BONUS:  */
.boardSpaceDefault {
    background-image: url("./graphics_data/BlankPlace.JPG"); 
    display: inline-block;
    height: 175px;
    width: 190px;
    margin: 2px;
    border: 2px black solid;
    background-color: grey;
}

/* DOUBLE LETTER: Third tile [2] */
.boardSpaceDL {
    background-image: url("./graphics_data/DLPlace.JPG"); 
    display: inline-block;
    height: 175px;
    width: 190px;
    margin: 2px;
    border: 2px black solid;
    background-color: blue;
}

/* DOUBLE WORD: Sixth tile [5] */
.boardSpaceDW {
    background-image: url("./graphics_data/DWPlace.JPG"); 
    display: inline-block;
    height: 175px;
    width: 190px;
    margin: 2px;
    border: 2px black solid;
    background-color: pink;
}

/* letter tile- CHOSEN RANDOMLY */
.letterTile {
    display: inline-block;
    position: relative;
    height: 165px; /* checked image size */
    width: 180px; /* checked image size */
    top: 2px;
    left: 2px;
    cursor: pointer;
}

#btnReset {
  width: 60%;
  height: 100%;
  margin: auto;
  background: #a1beed;
  color: #050608;
  font-size: 300%;
  margin-top: 2%;
  margin-bottom: 2%;
}

#btnSubmit {
  width: 60%;
  height: 100%;
  margin: auto;
  background: #b899ff;
  color: #15111c;
  font-size: 300%;
  margin-top: 2%;
  margin-bottom: 2%;
}
